<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLibrary.Properties.Settings.VideoBaseConnectionString"
            connectionString="Data Source=TESLA\SQLEXPRESS;Initial Catalog=VideoBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
    <!--Постачальник-->
    <add key="provider" value="System.Data.SqlClient"/>
    <connectionStrings>
      <add name="VideoBaseSqlConnectionString"
           connectionStrings="Data Source=TESLA\SQLEXPRESS;&#xD;&#xA;           Initial Catalog=VideoBase; Integrated Security=True"
                                                               />
    </connectionStrings>
  </appSettings>
</configuration>